.container {
  color: #19181f;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}

.answer {
  height: 100%;
  width: 33.33%;
  padding: 5% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transition: background-color 0.3s ease-out;
  border-right: 0.01rem solid #efefef;
  border-left: 0.01rem solid #efefef;
}

.answer_hover:hover {
  background-color: #efefef;
}

.answerContainer {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.answer:nth-child(1) {
  border-right: 0.01rem solid #efefef;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  color: #efefef;
  background-color: green;
}

.answer:nth-child(2) {
  border-right: 0.01rem solid #efefef;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  color: #efefef;
  background-color: darkred;
}

.answer:nth-child(3) {
  border-left: 0.01rem solid #efefef;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  color: #efefef;
  background-color: darkslategray;
}


.answerContainer p {
  font-weight: bold;
  font-size: 1.5rem;
  z-index: 100;
}

.answerContainer span {
  font-size: 2.25rem;
  z-index: 100;
}

.answer:hover {
  cursor: pointer;
}

.votersList {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 1rem;
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
}

.votersWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.votersList h3 {
  margin-bottom: 5px;
  color: #555;
}

.votersList div {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
}

.votersList svg text {
  font-size: 32px !important;
}
